PORT=5001
DATABASE_URL=postgresql://postgres:12345@localhost:5432/recipe_organizer
JWT_SECRET=recipe_organizer_secret_12345
CLIENT_URL=http://localhost:5173
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
